@keyframes eyes {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }

}

#left-eye {
  animation: eyes 3s infinite;
}

#right-eye {
  animation: eyes 3s infinite;
}

#left-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
}

#right-ear {
  transition: all .5s linear;
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}
