#face:hover, #left-ear, #right-ear {
  top: -10px;
  transition: top .5s linear;
}

#left-eye, #right-eye {
  animation: translate 3s infinite;
}

@keyframes translate {

  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}
